.home-header {
    opacity: 0;
    visibility: hidden;
    animation: appear 1s ease-in-out forwards;
    animation-delay: 3s;
}

.section {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F5EBDC;
}

.section1 {
    background-color: tomato;
}

.section2 {
    background-color: bisque;
}

.section3 {
    background-color: green;
}

.section4 {
    background-color: orange;
}

.section-bg-img {
    height: 100%;
    width: 100%;
}
