
.home__menu {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0%; 
    visibility: hidden;
    opacity: 0;
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__menu__list {
    margin-left: 13%;
    margin-top: 15px;
    font-size: 35px;
    font-weight: 200;
    width: max-content;
}

.home__menu__list.is-active {
    animation: menuListUp 0.2s ease-in-out forwards;
}


.home__menu.is-active {
    animation: menuAppear 0.2s ease-in-out forwards;
}

.section {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F5EBDC;
}

.section1 {
    background-color: tomato;
}

.section2 {
    background-color: bisque;
}

.section3 {
    background-color: green;
}

.section4 {
    background-color: orange;
}

.section__img {
    height: 100%;
    width: 100%;
}

.loading__animation {
    position: absolute;
}

.loading__animation4 {
    opacity: 0;
    animation: stackLogo4 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

.loading__animation3 {
    opacity: 0;
    animation: stackLogo3 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

.loading__animation2 {
    opacity: 0;
    animation: stackLogo2 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.loading__animation1 {
    top: 565px;
    animation: stackLogo1 0.7s ease-in-out forwards;
}

.loading__animation__img {
    width: 300px;
}
 
.mouse {
    opacity: 0;
	max-width: 2.5rem;
	width: 100%;
	height: auto;
    animation: see 1s ease-in-out forwards;
    animation-delay: 3s;
}
.scroll {
    opacity: 0;
    animation-delay: 3s;
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}
.scroll-link {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}

.menu-icon {
    position: relative;
    max-width: 5.5rem;
    max-height: 4.125rem;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.menu-icon path {
    stroke: white;
    stroke-width: 5;
    stroke-linecap: round;
    transition: all 250ms ease-in-out;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    will-change: transform, opacity;
}
.menu-button:hover path {
    stroke: black;
}

.menu-icon.is-active path {
    stroke: black;
}

.menu-icon.is-active path:nth-child(1) {
    opacity: 0;
}
.menu-icon.is-active path:nth-child(4) {
    opacity: 0;
}
.menu-icon.is-active path:nth-child(2) {
    transform: rotate(45deg);
}
.menu-icon.is-active path:nth-child(3) {
    transform: rotate(-45deg);
}

i {
    margin: 10px;
}

@keyframes menuListUp {
    from {transform: translateY(100%) ;}
    to {transform: translateY(50%);}
}

@keyframes menuAppear {
    from {}
    to {visibility: visible; opacity: 0.5;}
}

@keyframes scroll {
	0%, 20% {
		transform: translateY(0) scaleY(1);
	}
	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}
}

@keyframes see {
    from {}
    to {opacity: 1;}
}

@keyframes stackLogo1 {
    from {
        opacity: 0;
        top: 200px;
        transform: skew(30deg, -30deg);
    }
    to {
        opacity: 1;
        top: 565px;
    }
}
@keyframes stackLogo2 {
    from {opacity: 0; top: 350px;}
    to {opacity: 1;top: 465px;}
}
@keyframes stackLogo3 {
    from {opacity: 0; top: 300px;}
    to {opacity: 1;top: 395px;}
}
@keyframes stackLogo4 {
    from {opacity: 0; top: 200px;}
    to {opacity: 1;top: 300px;}
}

@keyframes upScreen {
    from {}
	to {transform: translateY(-100%); height: 100%;}
}
