html {
    overflow: hidden;
}

html,body{
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

#section2 {
    background-color: lightpink;
}

#section3 {
    background-color: coral;
}

#section4 {
    background-color: aqua;
}