.header-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.burgerking-logo {
    height: 120px;
}

header:hover {
    background-color: white;
    color: black;
}

header.is-active {
    background-color: white;
    color: black;
}