.home__header {
    opacity: 0;
    visibility: hidden;
    animation: appear 1s ease-in-out forwards;
    animation-delay: 3s;
}

.header__box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.restaurants__header {
    background-color: white;
    color: black;
}


.header__logo {
    height: 120px;
}

@keyframes appear {
    from {}
    to {visibility: visible; opacity: 1;}
}

header:hover {
    background-color: white;
    color: black;
}

header.is-active {
    background-color: white;
    color: black;
}